<h1>{{title}}</h1>
<img {{bindAttr src="gravatar"}} />

{{#each tag in tags}}
  <div>{{tag}}</div>
{{/each}}


<div class="product-description">{{description}}</div>

{{#if how_to_use}}
<div class="product-how-to-use">
  <h4>How to Use</h4>
  {{how_to_use}}
</div>
{{/if}}

{{#if ingredients}}
<div class="product-ingredients">
  <h4>Ingredients</h4>
  {{ingredients}}
</div>
{{/if}}
